version: "3"

services:
  app:
    build: .
    ports:
      - "3030:3030"
    depends_on:
      - db

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: videochat
    ports:
      - "5432:5432"
